body,
html {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 450;
    font-size: 17px;
    background-color: #ffffff;
    color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
}


span {
    color: #000000;
}
a {
    text-decoration: none;
}
a:hover {
    border-bottom: 2px solid #000000;
}

.links {
    a {
        color: rgba(0, 0, 0, 0.6);
        position: relative;
    }

    a:hover {
        color: #000000;

        i {
            color: rgba(0, 0, 0);
        }
    }
}

i {
    color: rgba(0, 0, 0, 0.6);
    transform: rotate(-45deg);
    font-size: 14px;
}

.work {
    color: #000000;
}

#fade-in {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 0.8s forwards;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


@media (prefers-color-scheme: dark) {
    body {
        background-color: #000000;
        color: rgba(255, 255, 255, 0.75);
    }

    span {
        color: #ffffff;
    }

    .links {
        a {
            color: rgba(255, 255, 255, 0.75);
        }

        i {
            color: rgba(255, 255, 255, 0.75);
        }

        a:hover {
            border-bottom: 2px solid #ffffff;
            color: #ffffff;

            i {
                color: #ffffff;
            }
        }
    }

    .work {
        color: #ffffff;
    }

}

@media (max-width: 767px) {
    body {
        font-size: 16px;
        padding: 0px 20px;
    }

    i {
        font-size: 12px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    body {
        font-size: 17px;
    }
    .container {
        width: 500px;
    }

    i {
        font-size: 14px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 700px;
    }
}


